header {
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('static/hero-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    div {
        margin: auto;
        text-align: center;
        -webkit-animation-delay: .25s;
        animation-delay: .25s;
        h1 {
            margin: 0;
            margin-top: 1em;
            font-size: 5em;
        }
        p {
            margin-top: 0;
            @include capitalize (1em, .2em);
            line-height: 4;
        }
        a {
            @include button ($accent, 1em, .1em);
            @include transition (background-color, .2s)
        }
        a:hover {
            background-color: $primary;
        }
    }
}