#pica {
  padding: 0;
  figure {
    margin: 0;
    display: flex;
    @media screen and (max-width: $sm-breakpoint) {
      display: block;
    }
    div {
      flex: 0 1 50%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      @media screen and (max-width: $sm-breakpoint) {
        height: 400px;
      }
    }
    figcaption {
      flex: 0 1 50%;
      box-sizing: border-box;
      padding: 5em;
      h3 {
        font-size: 2em;
      }
      p {
        color: $bg-light;
      }
      .price {
        font-size: 1.5em;
        color: $accent;
        small {
          color: $bg-medium;
        }
      }
    }
    figcaption:nth-child(odd) {
      text-align: right;
    }
  }
  figure:nth-child(odd) {
    div {
      order: 1;
      @media screen and (max-width: $sm-breakpoint) {
        order: 0;
      }
    }
  }
  figure:nth-child(1) {
    div {
      background-image: url(#{$static}/drink1.jpeg);
    }
  }
  figure:nth-child(2) {
    div {
      background-image: url(#{$static}/drink2.jpeg);
    }
  }
  figure:nth-child(3) {
    div {
      background-image: url(#{$static}/drink-3.jpeg);
    }
  }
}