#proslave {
  display: flex;
  padding: 0;
  @media screen and (max-width: $sm-breakpoint) {
    display: block;
  }
  div {
    flex: 0 1 50%;
    background: url(#{$static}/proslave-min.jpg) no-repeat center;
    background-size: cover;
    @media screen and (max-width: $sm-breakpoint) {
      height: 400px;
    }
  }
  hgroup {
    box-sizing: border-box;
    flex: 0 1 50%;
    padding: 5em;
  }
}