aside {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  right: -100vw;
  display: flex;
  align-content: center;
  background-color: $bg-dark;
  @include transition (all, .25s);
  ul {
    margin: auto;
    text-align: center;
    padding: 0;
    li {
      padding: .5em;
      a {
        @include capitalize(1.5em, .2em);
        @include transition(color, .2s);
        padding: 1em;
      }
      a:hover {
        color: $accent;
      }
    }
  }
}

.active-opacity {
  right: 0;
}