.social {
  flex: 0 1 100%;
  ul {
    display: flex;
    padding: 0;
    li {
      flex: 1;
      a {
        border: none;
        padding: 2em;
      }
      a:hover {
        background: none;
      }
    }
  }
}