@import url("https://fonts.googleapis.com/css?family=Alegreya+SC:700|Oswald&subset=latin-ext");
body {
  background-color: #040402;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Alegreya SC", serif;
  color: #ee1c25;
}

p,
a {
  font-family: "Oswald", sans-serif;
  color: #f5ecda;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

section {
  padding: 100px 5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 810px) {
  section {
    padding: 100px 2.5em;
  }
}

.spacer-section {
  padding-top: 200px;
  padding-bottom: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

address {
  font-family: "Oswald", sans-serif;
  color: #bfb6a4;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  z-index: 5;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3em 5em;
}

@media screen and (max-width: 810px) {
  nav {
    padding: 1em 2.5em;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

nav #logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 150px;
  flex: 0 1 150px;
  width: 150px;
}

@media screen and (max-width: 810px) {
  nav #logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100px;
    flex: 0 1 100px;
    width: 100px;
  }
}

nav ul {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 810px) {
  nav ul {
    display: none;
  }
}

nav ul li {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

nav ul li a {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 90%;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

nav ul li a:hover {
  color: #ee1c25;
}

nav #nav-icon2 {
  z-index: 10;
  display: none;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50px;
  flex: 0 1 50px;
  height: 50px;
  position: relative;
}

@media screen and (max-width: 810px) {
  nav #nav-icon2 {
    display: block;
  }
}

nav #nav-icon2 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50px;
  background: #f5ecda;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

nav #nav-icon2 span:nth-child(1),
nav #nav-icon2 span:nth-child(2) {
  top: 0px;
}

nav #nav-icon2 span:nth-child(2),
nav #nav-icon2 span:nth-child(4) {
  top: 15px;
}

nav #nav-icon2 span:nth-child(3),
nav #nav-icon2 span:nth-child(6) {
  top: 30px;
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("static/hero-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header div {
  margin: auto;
  text-align: center;
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
}

header div h1 {
  margin: 0;
  margin-top: 1em;
  font-size: 5em;
}

header div p {
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1em;
  line-height: 4;
}

header div a {
  border: 2px solid #ee1c25;
  color: #ee1c25;
  padding: .5em 2em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1em;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

header div a:hover {
  background-color: #f5ecda;
}

aside {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -ms-flex-line-pack: center;
  align-content: center;
  background-color: #242621;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

aside ul {
  margin: auto;
  text-align: center;
}

aside ul li {
  padding: .5em;
}

aside ul li a {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.5em;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  padding: 1em;
}

aside ul li a:hover {
  color: #ee1c25;
}

.active-opacity {
  opacity: 1;
}

#onama {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

#onama h2 {
  font-size: 2em;
}

#onama p {
  color: #bfb6a4;
}

#pica {
  padding: 0;
}

#pica figure {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 810px) {
  #pica figure {
    display: block;
  }
}

#pica figure div {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

#pica figure div img {
  width: 100%;
}

#pica figure figcaption {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5em;
}

#pica figure figcaption h3 {
  font-size: 2em;
}

#pica figure figcaption p {
  color: #bfb6a4;
}

#pica figure figcaption .price {
  font-size: 1.5em;
  color: #ee1c25;
}

#pica figure figcaption .price small {
  color: #59584c;
}

#pica figure figcaption:nth-child(odd) {
  text-align: right;
}

#pica figure:nth-child(odd) div {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

@media screen and (max-width: 810px) {
  #pica figure:nth-child(odd) div {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
}

#spacer-first {
  background-image: url("static/spacer-section-1-min.jpg");
}

#galerija {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#galerija figure {
  margin: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  position: relative;
}

@media screen and (max-width: 810px) {
  #galerija figure {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
}

#galerija figure img {
  width: 100%;
  height: 100%;
}

#galerija figure figcaption {
  width: 100%;
  height: 100%;
  background-color: #242621;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  top: 0;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#galerija figure figcaption img {
  width: 15%;
  margin: auto;
}

#galerija figure:hover figcaption {
  opacity: .9;
}

#kontakt {
  padding: 0;
  height: 50vh;
}

footer {
  padding: 100px 5em;
  background-color: #040402;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media screen and (max-width: 520px) {
  footer {
    padding: 100px 2.5em;
  }
}

footer address {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

@media screen and (max-width: 520px) {
  footer address {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
}

footer ul {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 520px) {
  footer ul {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
}

footer ul li {
  line-height: 2;
  letter-spacing: .1em;
}

footer div {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

@media screen and (max-width: 520px) {
  footer div {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 1em;
  }
}

footer div p {
  margin: 0;
}


/*# sourceMappingURL=app.css.map */